<div class="container">
    <div class="row">
        <div class="">
            <h2>問い合わせ一覧</h2>
            <table>
                <tr>
                    <th>投稿日時</th>
                    <th>ユーザー名</th>
                    <th>件名</th>
                    <th>内容</th>
                </tr>
                <%= @contacts.each do |contact| %>
                <tr>
                    <td>日付</td>
                    <td><%= contact.last_name %><%= contact.first_name %></td>
                    <td><%= contact.title %></td>
                    <td><%= contact_content %></td>
                    <td>
                        <%= link_to '編集', edit_contact_path, class: "edit_contact_#{contact.id}" %>
                    </td>
                    <td>
                        <%= link_to '削除', contact_path, method: :delete, "data-confirm" => "削除しますか？", class: "destroy_contact_#{contact.id}" %>
                    </td>
                </tr>
                <% end %>
            </table>
        </div>
    </div>
</div>